<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/sacpyc/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/sacpyc/assets/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/static/sacpyc/css/misclases.css">
	<title>{%block titulo%}{%endblock%}</title>
	{%block importar%}{%endblock%}
</head>
<body>
	<div id="page-wrap">
		<div id="header" class="row fondo">
			<div id="banner-izq" = class="col-xs-3"></div>
			<div id="banner-der" class="col-xs-3"></div>
			{%block header%}
			{%endblock%}
		</div>
		<div id="body" class="row fondo">
			<div id="columna-izq" class="col-xs-3">
				<div id="menu-lateral" class="panel fondo">
					<img id="banner" class="logo" src="/static/sacpyc/img/logo2.png">
					{%block menuIzq%}
					<div id="informacion" class="panel panel-default frente" style="margin-top: 50px;">
						<p style="margin:10px">Hola &lt Nombre_Usuario &gt</p>
						<div class="btn-group" style="margin-left:50px;">
							<a id="np" type="button" class="btn btn-default frente" href="">Cerrar Sesión</a>
						</div>
						<br>
						<br>
					</div>
					{%endblock%}
				</div>			
			</div>
			<div id="cuerpo" class="col-xs-8">
				<div id="menu" class="btn-group btn-group-justified btn-group-lg">
					<div id ="menu" class="btn-group btn-group-justified btn-group-lg">
						<div class="btn-group">
							<a id="ag" type="button" class="btn btn-default frente" href="/Agenda/Agenda">Agenda</a>
						</div>
						<div class="btn-group">
							<a id="cot"type="button" class="btn btn-default frente" href="/CotizarAd/CotizarAd">Cotizaciones</a>
						</div>
						<div class="btn-group">
							<a id="te" type="button" class="btn btn-default frente" href="/TipoEvento/TipoEvento">Tipo Evento</a>
						</div>
						<div class="btn-group">
							<a id="comp" type="button" class="btn btn-default frente" href="/Compras/Compras">Compras</a>
						</div>
						<div class="btn-group">
							<a id="gar" type="button" class="btn btn-default frente" href="/Garzones/Garzones">Garzones</a>
						</div>
						<div class="btn-group">
							<a id="pro" type="button" class="btn btn-default frente" href="/Proveedores/Proveedores">Proveedores</a>
						</div>
						<div class="btn-group">
							<a id="not" type="button" class="btn btn-default frente" href="/Notificaciones/Notificaciones">Notificaciones</a>
						</div>
						<div class="btn-group">
							<a id="men" type="button" class="btn btn-default frente" href="/Menu/Menu">Menú</a>
						</div>
					</div>
				</div>
				<br>
				<div id="contenido" class="panel panel-default frente">
					{%block body%}
					{%endblock%}
				</div>
			</div>
			<div id="columna-der" class="col-xs-3">
				<br>
				{%block colDer%}
				{%endblock%}
			</div>
		</div>
		<div id="footer" class="row fondo">
			<div class="col-xs-3">
				<a class="btn btn-social btn-twitter" href="https://twitter.com/contigo_panyceb"><i class="fa fa-twitter"></i> Síguenos en Twitter</a>
				<br>
				<a class="btn btn-social btn-facebook" href="https://www.facebook.com/groups/361041017299686/"><i class="fa fa-facebook"></i> Síguenos en Facebook</a>
			</div>
			<p class="text-center col-xs-6" ><br>Contigo Pan y Cebolla - Emporio Gourmet</p>
		</div>
	</div>
</body>
<footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/static/sacpyc/js/bootstrap.min.js"></script>
	{%block js%}
	{%endblock%}
</footer>
</html>