{%extends "base.html"%}
{%block importar%}
	<link rel="stylesheet" type="text/css" href="/static/css/datepicker3.css">
{%endblock%}
{%block menuIzq%}
	<div id="menu-lateral" class="panel fondo">
		<p></p>
		<a id="nuevaCot" href='/Cotizar/' class="btn-lat btn btn-default btn-lg frente" >Nueva Cotización</a>
		<p></p>
		<a id="estadoCot" href='/Estado/' class="btn-lat btn btn-default btn-lg frente" >Estado Cotización</a>
		<p></p>
	</div>
{%endblock%}
{%block body%}
    <div id="form-2" class="row">
    	<form method="POST" action="/Reload/">{%csrf_token%}
    		<div class="row">
	    		<div class="col-xs-3"></div>
	    		<div class="col-xs-6">
					<h3>Datos del Evento:</h3>
					<label>Fecha Evento*:</label>
			    	<div class="input-group date">
			        	<input type="text" title="la fecha es obligatoria" name="fecha" pattern='\d\d\/\d\d\/\d\d\d\d' class="form-control" required/><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			    	</div>
			    	<label for="hora">Hora evento*:</label>
			    	<input title="ej: 20:30" type="time" name="hora" class="form-control" required/>
			    	<label for="duracion">Duración Estimada*: (horas)</label>
		    		<input title="debe ingresar la duración estimada en horas" min="1" max="12" type="number" value="3" name="duracion" class="form-control" required/>
					<label for="invitados" >Cantidad de Invitados*:</label>
					<input title="debe ingresar la cantidad de invitados" name="invitados" type="number" min="1" max="500" class="form-control" value="100">
				</div>
				<div class="col-xs-3"></div>
			</div>
			<br>
				<div class="col-xs-3" style="padding-left:0;">
					<a href="javascript:history.back()" class="btn-lat btn btn-default frente">volver</a>
				</div>
				<div class="col-xs-6"></div>
				<div class="col-xs-3" style="padding-right:0;">
					<input type="submit" name="siguiente2" class="btn-lat btn btn-default frente" value="siguiente">
			</div>
    	</form>
    </div>
{%endblock%}
{%block js%}
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		document.getElementById('nuevaCot').className="btn-lat btn btn-default btn-lg frente active";
		document.getElementById('cn').className="btn btn-default active";
		$('.input-group.date').datepicker({
	        format: "dd/mm/yyyy",
	        todayHighlight: true,
	        language: 'es',
	        weekStart: 1,
	        keyboardNavigation: false,
	        autoclose: true,
	        startDate: "0d",
	        todayBtn: 'linked',
    	});
	</script>
{%endblock%}