{%extends "base2.html"%}
{%block body%}
	<div class="row">
		<div class='col-xs-3'></div>
		
		<div class="col-xs-6">
			<h2>Editar Garzón:</h2>
			<label style='color:red'>{{error}}</label>
			<form method='POST' action='/ValidarGarzon/'>{%csrf_token%}
				<input type='hidden' name='correo_garzon_a' value='{{correoG}}'>
				<label for='correo_garzon'>Correo*:</label>
				<input type='email' name='correo_garzon' class='form-control' value='{{correoG}}' required/>
				<label for='nombre_garzon'>Nombre*:</label>
				<input type='text' name='nombre_garzon' class='form-control' value='{{nombreG}}' required/>
				<label for='apellido_garzon'>Apellido*:</label>
				<input type='text' name='apellido_garzon' class='form-control' value='{{apellidoG}}' required/>
				<label for='telefono_garzon'>Teléfono*:</label>
				<input type='text' name='telefono_garzon' class='form-control' value='{{telefonoG}}' pattern="\d{8}$" required/><br>
				<input type='submit' class='btn btn-default' value='aceptar' required/>
			</form>
		</div>
	</div>


{%endblock%}
{%block js%}
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	document.getElementById('gar').className="btn btn-default active";
	</script>
{%endblock%}