{%extends "base2.html"%}
{%block body%}
	<div id="form-1" class="row">
		<form id="editarMenu" method="POST">{%csrf_token%}
		    	<h3>Agregar Menú:</h3>
		    	<h4>Evento: {{ evento.nombre_tipo_evento }} </h4>
		    		<label for="submenu">Menu Asociado:</label>
		    		<br>
		    	<div class="col-xs-6">
		    		<table class="table table-condensed">
			    		{% for items in menus %}
			    			<tr>
			    				<td> {{ items.nombre_tipo_menu }} </td>
			    				<td>
			    					<input type="radio" name="seleccion" value="{{ items.nombre_tipo_menu }}" checked><br>
								</td>
			    			</tr>
			    		{%endfor%}
		    		</table>
		    	</div>
		    	<div class="col-xs-10">
					<input type="submit" name="volver_home" class="btn btn-default frente" value="Listo" onclick="document.getElementById('editarMenu').action='/TipoEvento/'">
					<input type="submit" name="siguiente2" class="btn btn-default frente" value="Editar" onclick="document.getElementById('editarMenu').action='/TipoEventoEdMenu/'">
		    	</div>
	    </form>
    </div>

{%endblock%}
{%block js%}
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	document.getElementById('te').className="btn btn-default active";
	
	</script>
{%endblock%}