{%extends "base2.html"%}
{%block body%}
	<h3>Editar {{ nombre_evento }}</h3>
		<form id="selMenu" method="POST">{%csrf_token%}
			<div id="form-1" class="row">
    			<label for="submenu">Menu Asociado:</label>
    			<br>
	    		<table class="table table-striped">
	    			{% if error != "" %}
	    				<script type="text/javascript">
	    					alert("{{error}}");
	    					history.back();
	    				</script>
	    			
	    			{% else %}
	    				{% for items in menus %}
			    			<tr>
			    				<td> {{ items.nombre_tipo_menu }} </td>
			    				<td>
			    					<input type="radio" name="seleccion" value="{{ items.nombre_tipo_menu }}" checked><br>
								</td>
			    			</tr>
			    		{%endfor%}
	    			{%endif%}
	    		</table>
    		</div>
    		<br>
			<input type="submit" name="volver" class="btn btn-default frente" value="Volver a Eventos" onclick='document.getElementById("selMenu").action="/TipoEvento/"'>
			<input type="submit" name="editar" class="btn btn-default frente" value="Editar Menu" onclick='document.getElementById("selMenu").action="/TipoEventoEMenu/"'>
		    
	    </form>
    

{%endblock%}
{%block js%}
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	document.getElementById('te').className="btn btn-default active";
	
	</script>
{%endblock%}