{%extends "base2.html"%}
{%block menuIzq%}
{%endblock%}
{%block body%}
	<h2>Editar Menu:</h2>
	<form id="EditMenu" method="POST">{%csrf_token%}
		<h3>Evento: {{ nombre_evento }}, Menú: {{ nombre_menu }} </h3>
		<label for="submenu">Seleccione los Items que desee agregar el Menú</label>
		<br><br>
		
		<table class="table table-striped">
			<tr>
    			<td>Categoria</td>
    			<td></td>
    			<td>Selección</td>
    		</tr>
		{% for lista in lista_items %}
			<tr>
				<td>{{ lista.tipo }}</td>
				<td>Item</td>
				<td></td>
			</tr>
    			{% for it in lista.item %}
    			<tr>
    				<td></td>
    				<td> {{ it.nombre_item }} </td>
    				<td>
    					<input type="checkbox" name="checks" value="{{ it.nombre_item }}">
					</td>
    			</tr>
    			{%endfor%}
    	{% endfor %}
    	</table>
		<input type="submit" name="siguiente1" class='btn btn-default frente' value="Volver" onclick="document.getElementById('EditMenu').action='/TipoEventoEditar/'">
		<input type="submit" name="siguiente2" class='btn btn-default frente' value="Agregar" onclick="document.getElementById('EditMenu').action='/TipoEventoEdCheck/'">
		    
	    </form>

{%endblock%}
{%block js%}
	<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
	document.getElementById('te').className="btn btn-default active";
	
	</script>
{%endblock%}